body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:575px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.427450980392157);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u685 {
  position:absolute;
  left:81px;
  top:71px;
  width:375px;
  height:575px;
  color:#0033FF;
}
#u686 {
  position:absolute;
  left:2px;
  top:280px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
}
#u687 {
  position:absolute;
  left:400px;
  top:194px;
  width:38px;
  height:28px;
  color:#FFFFFF;
}
#u688 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u689 {
  position:absolute;
  left:330px;
  top:191px;
  width:34px;
  height:32px;
}
#u690 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u691 {
  position:absolute;
  left:110px;
  top:171px;
  width:198px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u692 {
  position:absolute;
  left:2px;
  top:37px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
}
#u693 {
  position:absolute;
  left:237px;
  top:180px;
  width:52px;
  height:51px;
}
#u694 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u695 {
  position:absolute;
  left:244px;
  top:193px;
  width:40px;
  height:30px;
}
#u696 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u697 {
  position:absolute;
  left:240px;
  top:237px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u699 {
  position:absolute;
  left:110px;
  top:180px;
  width:86px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u702 {
  position:absolute;
  left:115px;
  top:271px;
  width:306px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u704 {
  position:absolute;
  left:370px;
  top:275px;
  width:38px;
  height:38px;
}
#u705 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u706 {
  position:absolute;
  left:375px;
  top:283px;
  width:29px;
  height:22px;
}
#u707 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u709 {
  position:absolute;
  left:115px;
  top:329px;
  width:306px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u710 {
  position:absolute;
  left:2px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u711 {
  position:absolute;
  left:362px;
  top:333px;
  width:38px;
  height:38px;
}
#u712 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u713 {
  position:absolute;
  left:367px;
  top:341px;
  width:29px;
  height:22px;
}
#u714 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  position:absolute;
  left:307px;
  top:171px;
  width:73px;
  height:90px;
}
#u716 {
  position:absolute;
  left:2px;
  top:37px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:90px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.819607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:381px;
  top:171px;
  width:72px;
  height:90px;
}
#u718 {
  position:absolute;
  left:2px;
  top:37px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u719 {
  position:absolute;
  left:329px;
  top:228px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u721 {
  position:absolute;
  left:399px;
  top:228px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u723 {
  position:absolute;
  left:400px;
  top:187px;
  width:35px;
  height:32px;
}
#u724 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u725 {
  position:absolute;
  left:329px;
  top:189px;
  width:27px;
  height:32px;
}
#u726 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  position:absolute;
  left:83px;
  top:582px;
  width:370px;
  height:62px;
}
#u728 {
  position:absolute;
  left:2px;
  top:23px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u730 {
  position:absolute;
  left:81px;
  top:71px;
  width:375px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u731 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u732 {
  position:absolute;
  left:141px;
  top:82px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u733 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u734 {
  position:absolute;
  left:92px;
  top:86px;
  width:20px;
  height:15px;
}
#u735 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u736 {
  position:absolute;
  left:378px;
  top:83px;
  width:39px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u738 {
  position:absolute;
  left:419px;
  top:84px;
  width:28px;
  height:13px;
}
#u739 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:81px;
  top:578px;
  width:374px;
  height:68px;
}
#u742 {
  position:absolute;
  left:2px;
  top:26px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u743 {
  position:absolute;
  left:388px;
  top:584px;
  width:36px;
  height:35px;
}
#u744 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u746 {
  position:absolute;
  left:241px;
  top:563px;
  width:59px;
  height:59px;
}
#u747 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u748 {
  position:absolute;
  left:248px;
  top:572px;
  width:44px;
  height:43px;
}
#u749 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u750 {
  position:absolute;
  left:115px;
  top:585px;
  width:56px;
  height:35px;
}
#u751 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  position:absolute;
  left:128px;
  top:624px;
  width:30px;
  height:18px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  position:absolute;
  left:392px;
  top:623px;
  width:30px;
  height:18px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  position:absolute;
  left:258px;
  top:625px;
  width:30px;
  height:18px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:69px;
}
#u759 {
  position:absolute;
  left:207px;
  top:222px;
  width:30px;
  height:69px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u760 {
  position:absolute;
  left:2px;
  top:26px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:85px;
}
#u761 {
  position:absolute;
  left:212px;
  top:242px;
  width:106px;
  height:85px;
}
#u762 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:67px;
}
#u763 {
  position:absolute;
  left:281px;
  top:219px;
  width:30px;
  height:67px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u764 {
  position:absolute;
  left:2px;
  top:26px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u765 {
  position:absolute;
  left:403px;
  top:122px;
  width:36px;
  height:29px;
}
#u766 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:321px;
}
#u767 {
  position:absolute;
  left:493px;
  top:220px;
  width:333px;
  height:321px;
  font-size:16px;
  text-align:left;
}
#u768 {
  position:absolute;
  left:2px;
  top:16px;
  width:329px;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u769 {
  position:absolute;
  left:98px;
  top:24px;
  width:379px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:575px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.427450980392157);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u771 {
  position:absolute;
  left:849px;
  top:59px;
  width:375px;
  height:575px;
  color:#0033FF;
}
#u772 {
  position:absolute;
  left:2px;
  top:280px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u774 {
  position:absolute;
  left:883px;
  top:259px;
  width:306px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u775 {
  position:absolute;
  left:2px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u776 {
  position:absolute;
  left:1138px;
  top:263px;
  width:38px;
  height:38px;
}
#u777 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u778 {
  position:absolute;
  left:1143px;
  top:271px;
  width:29px;
  height:22px;
}
#u779 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u781 {
  position:absolute;
  left:883px;
  top:317px;
  width:306px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u782 {
  position:absolute;
  left:2px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u783 {
  position:absolute;
  left:1130px;
  top:321px;
  width:38px;
  height:38px;
}
#u784 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u785 {
  position:absolute;
  left:1135px;
  top:329px;
  width:29px;
  height:22px;
}
#u786 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  position:absolute;
  left:851px;
  top:570px;
  width:370px;
  height:62px;
}
#u788 {
  position:absolute;
  left:2px;
  top:23px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u790 {
  position:absolute;
  left:849px;
  top:59px;
  width:375px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u791 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u792 {
  position:absolute;
  left:909px;
  top:70px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u793 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u794 {
  position:absolute;
  left:860px;
  top:74px;
  width:20px;
  height:15px;
}
#u795 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u796 {
  position:absolute;
  left:1146px;
  top:71px;
  width:39px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u798 {
  position:absolute;
  left:1187px;
  top:72px;
  width:28px;
  height:13px;
}
#u799 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  position:absolute;
  left:849px;
  top:566px;
  width:374px;
  height:68px;
}
#u802 {
  position:absolute;
  left:2px;
  top:26px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u803 {
  position:absolute;
  left:1156px;
  top:572px;
  width:36px;
  height:35px;
}
#u804 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u806 {
  position:absolute;
  left:1009px;
  top:551px;
  width:59px;
  height:59px;
}
#u807 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u808 {
  position:absolute;
  left:1016px;
  top:560px;
  width:44px;
  height:43px;
}
#u809 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u810 {
  position:absolute;
  left:883px;
  top:573px;
  width:56px;
  height:35px;
}
#u811 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  position:absolute;
  left:896px;
  top:612px;
  width:30px;
  height:18px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:1160px;
  top:611px;
  width:30px;
  height:18px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:1026px;
  top:613px;
  width:30px;
  height:18px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u818 {
  position:absolute;
  left:888px;
  top:388px;
  width:242px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u819 {
  position:absolute;
  left:2px;
  top:36px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u820 {
  position:absolute;
  left:1057px;
  top:397px;
  width:48px;
  height:48px;
}
#u821 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
}
#u822 {
  position:absolute;
  left:1061px;
  top:408px;
  width:38px;
  height:28px;
}
#u823 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u824 {
  position:absolute;
  left:888px;
  top:397px;
  width:132px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u826 {
  position:absolute;
  left:969px;
  top:450px;
  width:142px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
}
#u828 {
  position:absolute;
  left:1159px;
  top:407px;
  width:42px;
  height:32px;
}
#u829 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:90px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:1130px;
  top:387px;
  width:91px;
  height:90px;
}
#u831 {
  position:absolute;
  left:2px;
  top:37px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u832 {
  position:absolute;
  left:1157px;
  top:444px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
}
#u834 {
  position:absolute;
  left:1157px;
  top:397px;
  width:32px;
  height:40px;
}
#u835 {
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u836 {
  position:absolute;
  left:1171px;
  top:110px;
  width:36px;
  height:29px;
}
#u837 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838 {
  position:absolute;
  left:866px;
  top:12px;
  width:379px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u840 {
  position:absolute;
  left:886px;
  top:159px;
  width:306px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u841 {
  position:absolute;
  left:2px;
  top:37px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u842 {
  position:absolute;
  left:1120px;
  top:167px;
  width:51px;
  height:51px;
}
#u843 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u844 {
  position:absolute;
  left:1127px;
  top:180px;
  width:39px;
  height:30px;
}
#u845 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u846 {
  position:absolute;
  left:1124px;
  top:224px;
  width:44px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u848 {
  position:absolute;
  left:893px;
  top:162px;
  width:201px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:22px;
}
#u850 {
  position:absolute;
  left:910px;
  top:201px;
  width:131px;
  height:46px;
  color:#666666;
  line-height:22px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
